@using System.Linq;
@model MakeUpBoxesStore.Models.ViewModels.ProductDetailsViewModel

<div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-lg-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @{ int counter = 0;
                            string activeClass = "active";}
                        @foreach (var image in @Model.Images)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@counter" class="@activeClass"></li>

                            counter++;
                            if (counter != 0)
                            {
                                activeClass = "";
                            }

                        }
                    </ol>
                    @{
                        counter = 0;
                        activeClass = "active";
                    }
                    <div class="carousel-inner">
                        @foreach (var image in @Model.Images)
                        {

                            <div class="carousel-item @activeClass" style="height:80%">
                                <img class="d-block"
                                     src="@image">
                            </div>
                            counter++;
                            if (counter != 0)
                            {
                                activeClass = "";
                            }

                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Count)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Count)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProducerInfo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProducerInfo)
                    </dd>

                </dl>
                <div id="addToBoxPlaceHolder">
                    @if (ViewBag.Boxes.Count == 0)
                    {
                        <div class="col">
                            <p class="lead">Чтобы купить товар необходимо</p>
                            <p>@Html.ActionLink("Создать бокс", "Create", "Boxes", new { }, new { @class = "btn btn-primary" })</p>
                        </div>
                    }
                    else
                    {
                        <hr />
                        <div>
                            @if (ViewBag.Boxes.Count == 1)
                            {
                                <form action="/Boxes/AddProduct" method="post" id="addToBoxForm">
                                    <div class="form-group">
                                        <p class="lead">Добавление товара в бокс  @ViewBag.Boxes[0].Name</p>
                                        <p>Выберите количество</p>
                                        <input type="number" max="@Model.Count" min="1" name="productCount" id="count" />
                                        <input type="hidden" name="boxId" value="@ViewBag.Boxes[0].Id" id="boxId" />
                                        <input type="hidden" value="@Model.Id" name="productId" id="productId" />
                                        <input type="submit" class="btn btn-outline-primary" value="Добавить" />
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form action="/Boxes/AddProduct" method="post" id="addToBoxForm">
                                    <div class="form-group">
                                        <p class="lead">Добавление товара в бокс</p>
                                        <p>Выберите бокс</p>
                                        <select name="boxId" class="form-control" id="boxId">
                                            @foreach (var box in ViewBag.Boxes as List<MakeUpBoxesStore.Models.Box>)
                                            {
                                                <option value="@box.Id">@box.Name</option>
                                            }
                                        </select>
                                        <p>Выберите количество</p>
                                        <input type="number" max="@Model.Count" min="1" name="productCount" id="count" />
                                        <input type="hidden" value="@Model.Id" name="productId" id="productId" />
                                        <input type="submit" class="btn btn-outline-primary" value="Добавить" />
                                    </div>
                                </form>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
